.project-wrapper {
    padding-top: 120px;
}

.project-wrapper .project-title {
    font-size: 48px;
    padding-left: 10px;

}

.project-wrapper .project-subtitle {
    padding-left: 50px;
    font-size: 58px;
    font-weight: 500;
    padding-bottom: 90px;
}

.project-before {
    position: relative;
}

.project-before .project-title::before {
    position: absolute;
    content: '';
    width: 2.25rem;
    height: .25rem;
    background-color: #FAB448;
    top: 2rem;
    transform: translateX(-150%);
}


/* CARD */

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 100px;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 49%;
    gap: 20px;
}

.project-card__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}

.project-card:hover .project-card__img {
    filter: blur(5px);
}

.project-card__title {
    color: #fff;
    font-size: 48px;
    position: absolute;
    bottom: 10px;
    left: 25px;
    transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
    opacity: 1;
    z-index: 2;
}

.project-card:hover .project-card__title {
    transform: translateY(-300px);
    color: #FAB448;
}

.project-card__subtitle {
    color: #fff;
    position: absolute;
    font-size: 17px;
    font-weight: 500;
    bottom: 50px;
    left: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
    transform: translateY(150%);
    z-index: 1;
    visibility: hidden;
    padding-right: 15px;
}

.project-card:hover .project-card__subtitle {
    opacity: 1;
    transform: translateY(-190px);
    visibility: visible;
}

/* Cards translate */
.project-card:hover .second-card__subtitle {
    transform: translateY(-210px);
}

.project-card:hover .third-card__subtitle {
    transform: translateY(-240px);
}

.project-card:hover .fourth-card__subtitle {
    transform: translateY(-160px);
}
.project-card:hover .fifth-card__subtitle {
    transform: translateY(-210px);
}
.project-card:hover .sixth-card__subtitle {
    transform: translateY(-210px);
}
/* closed  cards translate */

.project-btn {
    text-align: center;
}