.button {
    padding: 20px 60px;
    cursor: pointer;
    border: 1px solid orange;
    transform:  translateX(-5%) translateY(15%);
    color: #c98f8f;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}
.button-bg{
    display: inline-block;
    
    cursor: pointer;
    border: 1px solid orange;
}

.button:hover {
   
    transform:  translateX(0%) translateY(0%);
    
}