.header-section {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-wrapper {}

.header-wrapper nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px;
}

nav .nav-list {
    display: flex;
    gap: 60px;

}

.nav-item a {
    color: #fff;
}

.header-contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-contact a {
    color: #fff;
}

.nav.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav.scrolled a {
    color: rgb(15, 15, 15);
}


.nav.scrolled a .facebook path,
.nav.scrolled a .instagram path,
.nav.scrolled a .telegram path {
    fill: black;
}

.nav.scrolled .instagram,
.nav.scrolled .telegram {
    fill: black;
}

.nav.scrolled .instagram-center {
    fill: black;
}

.nav.scrolled .discover-svg {
    fill: black;
}

.fixed {
    position: relative;
}

.header-fixed__button {
    position: absolute;
    top: 700px;
    right: 0;
    cursor: pointer;

}

.header-first__animation {
    border: 1px solid orange;
   
}

.header-second__animation {}

.header-fixed__button button {
    border: 0px solid rgb(219, 133, 42);
    height: 0;
    animation: infinitePulse 4s infinite;


}

@keyframes infinitePulse {
    0% {
        margin:  1px;
    }

    25% {
        margin:  3px;
    }

    50% {
        margin:  2px;
    }

    100% {
        margin:  0px;
    }
}