.footer-up__wrapper{
    display: flex;
}























.footer-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;


}


.footer-logo {
    width: 100%;
}

.footer-license {
    width: 100%;
}