.news-left {
    position: relative;
}

.news-left .news-before::before {
    position: absolute;
    content: '';
    width: 2.25rem;
    height: .25rem;
    background-color: #FAB448;
    top: 2rem;
    transform: translateX(-150%);
}


.news-before, .news-title {
    font-size: 3rem; 
}