.news-left {
    position: relative;
}

.news-left .news-before::before {
    position: absolute;
    content: '';
    width: 2.25rem;
    height: .25rem;
    background-color: #FAB448;
    top: 2rem;
    transform: translateX(-150%);
}

.news-before,
.news-title {
    font-size: 1rem;
}


/* Swiper */

.news-swiper {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.news-swiper__img {
    width: 100%;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-in-out;

}

/* -----------------Transform---------------- */

/* img */
.news-swiper__first:hover .news-swiper__img,
.news-swiper__second:hover .news-swiper__img,
.news-swiper__third:hover .news-swiper__img,
.news-swiper__fourth:hover .news-swiper__img,
.news-swiper__fifth:hover .news-swiper__img,
.news-swiper__sixth:hover .news-swiper__img,
.news-swiper__seventh:hover .news-swiper__img,
.news-swiper__eighth:hover .news-swiper__img {
    transform: scale(1.2);
}
/* text */
.news-swiper__first:hover .news-swiper__text,
.news-swiper__second:hover .news-swiper__text,
.news-swiper__third:hover .news-swiper__text,
.news-swiper__fourth:hover .news-swiper__text,
.news-swiper__fifth:hover .news-swiper__text,
.news-swiper__sixth:hover .news-swiper__text,
.news-swiper__seventh:hover .news-swiper__text,
.news-swiper__eighth:hover .news-swiper__text {
    transform: translateY(-150%);
}

/* link */
.news-swiper__first:hover .news-swiper__link,
.news-swiper__second:hover .news-swiper__link,
.news-swiper__third:hover .news-swiper__link,
.news-swiper__fourth:hover .news-swiper__link,
.news-swiper__fifth:hover .news-swiper__link,
.news-swiper__sixth:hover .news-swiper__link,
.news-swiper__seventh:hover .news-swiper__link,
.news-swiper__eighth:hover .news-swiper__link {
    display: block; 
    transform: translateY(-250%);
}

/* -----------------closed---Transform---------------- */


.news-swiper__blur {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.news-swiper__before::before {
    position: absolute;
    content: '';
    top: 0;
    transform: translateY(220%) translateX(250%);
    left: 0;
    background-color: orange;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    z-index: 2;
}

.news-swiper__date {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(50%) translateY(50%);
    color: #fff;
    z-index: 2;
}

.news-swiper__text {
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    bottom: 40px;
    color: #fff;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
}


.news-swiper__link {
    font-weight: 400;
    font-size: 16px;
    padding-top: 5px;
    color: #fff;

    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: 20px;
    transition: transform 0.2s ease-in-out;
}



.news-wrapper {
    position: relative;
    padding: 120px 0;
}

.news-wrapper span:before {
    position: absolute;
    content: '';
    width: 2.25rem;
    height: .25rem;
    background-color: #FAB448;
    top: 40%;
    left: -10px;
    transform: translateX(-100%);
}



.news-title {
    padding-left: 50px;
}